/* Universal css Properties  */
*{
    box-sizing: border-box ; 
    padding: 0px ;
    margin: 0px ;  
    text-align: justify;
    
    }
    body{
        background-color: rgb(3, 3, 3);
    }
.logo{
    background-image: url(/images/css_images/environment.jpg);
    background-repeat: no-repeat;
    width: 100px;
    height: 90px;
    background-size: cover;
    margin: 10px;
   

    
}
ul{
    display: flex;
    list-style-type: none;
    float: right;
  position: relative;
  top: -80px;
  right: 50px;
  
}
ul li a{
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
}
 ul li a:hover{
    background-color: aliceblue;
    color: black;
}

.header{
    position: relative;
    bottom: -20px;
  margin:0px 10px;
  border-radius: 25px;
  border:5px solid aliceblue;

}
.line{
    border-bottom: white 5px solid;
position: relative;
top: 5px;
border-radius: 25px;

}
.content{
    color: aliceblue;
    padding-top: 50px;
    margin: 30px;
    text-align: center;
}